<h1>Task Progress</h1>

<hr />

<button (click)="doWork()">Start Slow task - 3S</button>
<button (click)="doLongWork()">Start Very Slow task - 6S</button>

<p>Background Tasks: {{ currentLoadCount | async }}</p>
<!-- <p>Background Tasks: {{ tasksNum }}</p> -->

<p>SPINNER ACTIVATED!!</p>
<div
  style="
    display: flex;
    margin-inline: auto;
    border: 1px solid sandybrown;
    padding: 8px 16px;
  "
>
  <p style="padding: 0; padding-right: 10px" *ngIf="shouldHideSpinner | async">
    {{ percentage | percent }}
  </p>

  <hr />

  <p style="padding-left: 10px" *ngIf="percentage === 1">Loading complete!</p>
</div>

<p>val show: {{ test }}</p>
<p>val hide: {{ shouldHideSpinner | async }}</p>
<p>val spinner: {{ spinner | async }}</p>
<p>val activated: {{ spinnerActivated | async }}</p>
